<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body class="slideshow">

    <responsive-child>
      <div class="container">
        <div class="title">How Amazon delivers in India: It's complicated</div>

        <div class="slide-container">

          <div class="flex-container">
            <i class="fa previous fa-chevron-circle-left"></i>
            <div class="image"></div>
            <i class="fa next fa-chevron-circle-right"></i>
            <i class="fa rewind fa-undo"></i>
          </div>
          
          <div class="index"></div>
          <div class="featured"></div>
          <div class="caption"></div>
          <div class="credit">ILLUSTRATIONS BY GABRIEL CAMPANARIO / THE SEATTLE TIMES</div>
        </div>
      </div>
    </responsive-child>

    <script>
      var data = <%= JSON.stringify(csv.images) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
